h1{
    padding:10px;
    margin-left:40px;
    margin-top:50px;
}

.pfirst{

    padding:10px;
    margin-left:40px;
    font-size: 25px;
}
.psec{
    padding:10px;
    margin-left:40px;
    font-size: 18px;
}
